/* SEARCH BAR */
#searchDiv {
    background-color: magenta;
    margin: 0;
    padding: 0;
}

/* MEME CATEGORIES */
.memeCategory {
    margin: 1%;
    border: 1px solid slategrey;
    background-color: grey;
    height: 7%;
}

/* ADD MEME FORM */
fieldset {
    margin-left: 2%;
    margin-right: 2%;
}

.categoryCheckbox {
    margin-top: 5%;
}

/* CHOSEN MEME HEADER */
#chosenMemeHeader {
    text-decoration: underline;
    margin-bottom: 3%;
}

/* MEME LIST */
ul {
    font-size: 200%
}

li {
    margin-bottom: 2%;
}

.memeRatingLabel {
    border-right: 3px solid black;
}

.memeNameLabel {
    background-color: lightgray;

    padding-left: 3%;
}

.favouriteMemeButton-unselected {
    background-color: pink;
    color: grey;
}

.favouriteMemeButton-selected, .favouriteMemeButton-unselected:hover {
    background-color: pink;
    color: magenta;
}

.removeMemeButton {
    background-color: olivedrab;
    color: brown;
}

.removeMemeButton, .updootMemeButton, .downdootMemeButton {
    filter: brightness(80%);
}

.removeMemeButton:hover, .updootMemeButton:hover, .downdootMemeButton:hover {
    filter: brightness(100%);
}

.updootMemeButton, .downdootMemeButton {
    background-color: lightblue;
    color: blue;
}

.memeButton {
    font-weight: bold;
}

.memeButton:hover {
    filter: brightness(100%);
}

/* SIGNUP BUTTON*/
#signupModalButton {
    position: fixed;
    top: 1em;
    right: 1em;
    color: black;
}

#signupModalButton:hover {
    color: grey;
}

/* SIGNUP MODAL */
#signupModalBackground {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#signupModalContent {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    position: relative;
    padding: 10px;
    overflow: hidden;
    width: 600px;

    background-color: whitesmoke;
}

#signupModalContent h1 {
    color: darkslategrey;
}

#signupModalContent input {
    margin-bottom: 5%;
}

#signupModalCloseButton {
    position: absolute;
    float: right;

    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#signupModalCloseButton:hover,
#signupModalCloseButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#signupModalLoginContent {
    width: 275px;
}

#signupModalSignupContent {
    width: 275px;
}

.modalLeft {
    float: left;
}

.modalRight {
    float: right;
}

.verticalDivider {
    position: absolute;
    left: 50%;
    top: 10%;
    bottom: 10%;
    border-left: 1px solid gray;
}

.rainbow {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	
	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;

	background-size: 1800% 1800%;
}

@-webkit-keyframes rainbow {
	0% {background-position: 0% 82%}
	50% {background-position: 100% 19%}
	100% {background-position: 0% 82%}
}

@-moz-keyframes rainbow {
	0% {background-position: 0% 82%}
	50% {background-position: 100% 19%}
	100% {background-position: 0% 82%}
}

@-o-keyframes rainbow {
	0% {background-position: 0% 82%}
	50% {background-position: 100% 19%}
	100% {background-position: 0% 82%}
}

@keyframes rainbow {
	0% {background-position: 0% 82%}
	50% {background-position: 100% 19%}
	100% {background-position: 0% 82%}
}