.memeCategory {
    margin: 1%;
    border: 1px solid slategrey;
    background-color: grey;
    height: 7%;
}

fieldset {
    margin-left: 2%;
    margin-right: 2%;
}

.categoryCheckbox {
    margin-top: 5%;
}

ul {
    font-size: 200%
}

li {
    margin-bottom: 2%;
}

.memeRatingLabel {
    border-right: 3px solid black;
}

.memeNameLabel {
    background-color: lightgray;

    padding-left: 3%;
}

.favouriteMemeButton-unselected {
    background-color: pink;
    color: grey;
}

.favouriteMemeButton-selected, .favouriteMemeButton-unselected:hover {
    background-color: pink;
    color: magenta;
}

.removeMemeButton {
    background-color: olivedrab;
    color: brown;
}

.updootMemeButton, .downdootMemeButton {
    background-color: lightblue;
    color: blue;
}

.memeButton {
    font-weight: bold;
}

.memeButton:hover {
    filter: brightness(80%);
}

#signupButton {
    position: fixed;
    top: 1em;
    right: 1em;
    color: black;
}

#signupButton:hover {
    color: grey;
}